@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
img{
    height: 200px;
    width: 50%;
    filter: blur(5px);
}
.my-artical{
    height: 100px;
    /* width: 50px; */
    overflow-y: scroll;
    font-family: "Anton SC", sans-serif;
    line-height: 20px;
    letter-spacing: 10px;
    text-decoration: underline;
}
:root{
    --red-color:rgb(0, 255, 55);
    --title-size:20px;
}
.my-class{
    color:var(--red-color);
    font-size: 100;
    background-color: blueviolet;
}
#my-class{
    color:var(--red-color);
    font-size:var( --title-size);
    background-color:purple;
}
li{
    color:blueviolet;
    font-size:var(--title-size);
    /* background-color: blueviolet; */
}
.btn{
cursor: pointer;
    color:white;
    background-color: rgb(38, 38, 163);
    border-radius: 6px;
    border: none;
    padding: 4px 40px 4px 40px;
    margin: 20px 0px 20px;

}
.lable{
padding: 5px;
padding-left: 10px;
padding-right: 10px;
background-color: aqua;
color:blue;
border-radius: 10px;

}
.boxc{

    height: 400px;
    width: 600px;
    background-color: aliceblue;
    color:purple;
    display: flex;
    justify-content: center;
    align-items: end;
}
.box2{

    height: 100px;
    width: 100px;
    background-color: red;
    color:aqua;
    /* position: absolute;
    left: 10px;
    right: 50px; */
}